<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="position1" value="99" />
    <add key="position2" value="88" />
    <add key="position3" value="77" />
    <add key="position4" value="66" />
    <add key="position5" value="55" />
  </appSettings>

</configuration>